/* цвета
основной текст заготовков #212121
 текст #757575
 цвет логотипа #2196F3
 цвет акцент #2196F3*/

:root {
  --logo-color: #212121;
  --logo-span: #2196f3;
  --colore-heading: #212121;
  --colore-text: #757575;
  --colore-backgraund: #e5e5e5;
  --colore-focus: #2196f3;
  --colore-auth-nav: #757575;
}

/* font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em; */

body {
  /* background-color: var(--colore-backgraund); */
  color: var(--colore-heading);
  font-family: Roboto, cursive;
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.link {
  margin: 0;
  padding: 0;
}

.header {
  border-bottom: 1px solid #ececec;
}

.site-nav .link.active {
  color: var(--colore-focus);
}

.site-nav .link.active::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: 0;
  background-color: var(--colore-focus);
  border-radius: 2px;
}
/* логотип */
.logo {
  display: flex;
  padding: auto;

  color: var(--logo-color);
  font-family: Raleway, cursive;

  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  text-decoration: none;
}

.main-nav {
  display: flex;
  align-items: center;
}

.logo > span {
  color: var(--logo-span);
}
/* навигация */
.site-nav {
  display: flex;
  margin-left: 85px;
}

.site-nav .item + .item {
  margin-left: 50px;
}

.site-nav .link {
  position: relative;
  display: flex;
  color: var(--colore-heading);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
  transition-duration: 250ms;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--colore-focus);
}

.auth-nav {
  display: flex;
  margin-left: 305px;
  align-items: center;
}

.auth-nav .link {
  display: flex;
  align-items: center;
  color: var(--colore-auth-nav);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
  transition-duration: 250ms;
}
.auth-nav .item + .item {
  margin-left: 30px;
}

.auth-nav .link:focus,
.auth-nav .link:hover {
  color: var(--colore-focus);
}

.email {
  fill: currentcolor;
  margin-right: 10px;
  height: 16px;
  transition-duration: 250ms;
}

.phone {
  fill: currentcolor;
  margin-right: 10px;
  width: 15px;
  transition-duration: 250ms;
}

.hero {
  position: relative;
  display: block;
  margin: 0 auto;
  text-align: center;
  max-width: 1600px;
  height: 600px;
  background: rgba(47, 48, 58, 0.8);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url(../image/hero.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 94px;
}

/* герой */
/* font-family: Roboto;
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 60px;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase; */
.hero-list {
  display: flex;
  align-items: center;
}
.hero-text {
  margin: 0;

  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  align-content: center;
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero-button {
  display: inline-block;

  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  color: white;
  background: var(--logo-span);
  font-weight: 500;
  font-size: 15px;
  line-height: 1.2;
  text-decoration: none;
  text-align: center;
  align-items: center;
  margin-top: 30px;
  align-items: center;
  border-color: #2196f3;
}

/* color: #ffffff;
  background-color: #2196f3;
  font-weight: 900;
  font-size: 16px;
  line-height: 1.87;
  text-decoration: none; */

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 2px solid tomato; */

  /* background: tomato; */
}
/* section 1 */
.section {
  margin-bottom: 94px;
  /* background: tomato; */
}

.list-class {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.items::before {
  display: block;
  content: '';

  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
}
.icon-anntena::before {
  background-image: url(../image/antenna.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.icon-clock::before {
  background-image: url(../image/clock.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.icon-diagram::before {
  background-image: url(../image/diagram.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.icon-actronaut::before {
  background-image: url(../image/astronaut.svg);
  background-repeat: no-repeat;
  background-position: center;
}

. .section-heading {
  color: var(--colore-heading);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-decoration: none;
  margin: 0;
  margin-bottom: 10px;
  margin-top: 30px;
  text-transform: uppercase;
}

.section-text {
  color: var(--colore-text);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-decoration: none;
  margin: 0px;
}

.list-class .items + .items {
  margin-left: 30px;
}
.items {
  width: 270px;
}
/* .site-nav .item + .item {
  margin-left: 50px; */

/* section 2 робота */
.heading {
  margin: 0;
  padding-bottom: 50px;
}
.section-work .heading {
  color: var(--colore-heading);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.title {
  height: 294px;
  position: relative;
  text-align: center;
  margin: 0;
  bottom: 0;
}

.list-work {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 94px;
}

.label {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.16;
}

.label {
  position: absolute;
  margin: 0;
  bottom: 0;
  width: 370px;
  padding: 27px 83px;
  background: rgba(47, 48, 58, 0.8);
}

/* команда */
.listt {
  list-style: none;
}

.our-comand {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}
.section-team {
  margin-bottom: 94px;
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}
.section-team .heading {
  color: var(--colore-heading);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
.section-team .people {
  color: var(--colore-heading);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}
.people {
  text-align: center;
  width: 270px;
  height: 422px;
  background: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
}
.list-work .title + .title {
  margin-left: 30px;
}
.listt .people + .people {
  margin-left: 30px;
}

.people > span {
  color: #757575;
  font-weight: 400;
}

.client-text {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0;
  margin-bottom: 50px;
}
.list-client {
  display: flex;
  margin: 0;
  padding: 0;
  margin-bottom: 94px;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  list-style: none;
}

.icon-client {
  fill: #afb1b8;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-client:hover,
.icon-client:focus {
  border: 1px solid #2196f3;
  fill: #2196f3;
}

.list-client .clients + .clients {
  margin-left: 30px;
}
.links {
  display: inline-block;
  color: var(--colore-heading);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  margin-top: 16px;
  padding: 12px;
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* background: grey; */
}

.team-name {
  margin-top: 30px;
  margin-bottom: 10px;
}

.links:focus,
.links:hover {
  --color3: white;
  background-color: #2196f3;
  border-radius: 50%;
}

.logo-footer {
  color: var(--logo-color);
  font-family: Raleway, cursive;
  font-style: normal;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.181;
  width: 231px;
}
.logo-footer > span {
  color: var(--logo-span);
}
.adress-footer {
  color: #ffffff;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.email-footer {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.phone-footer {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.text-footer {
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin: 0;
  margin-bottom: 21px;
  text-transform: uppercase;
}

/* .text-footers {
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin: 0;
  margin-bottom: 21px;
  margin-left: 155px;
  text-transform: uppercase;
} */

.navigation {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 48px;
  margin-bottom: 28px;
}
.social {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.product {
  color: rgba(255, 255, 255, 0.4);
  font-size: 12px;
  line-height: 2;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0;
  padding: 0;
  padding-top: 18px;
  padding-bottom: 21px;
}

.footer {
  background-color: #2f303a;
}
.navigation-button {
  display: flex;

  list-style: none;
  margin: 0;
  padding: 0;
}

.nav {
  display: flex;
  align-items: baseline;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.blocklink {
  margin-left: 69px;
}

.social .adresi + .adresi {
  margin-left: 11px;
}
.navigation-button .navigations + .navigations {
  margin-left: 12px;
}

.social .links-footer + .links-footer {
  margin-left: 10px;
}
.linkss {
  padding: 12px;
  --color3: white;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.linkss:focus,
.linkss:hover {
  background-color: #2196f3;
  border-radius: 50%;
}
.social .linkss + .linkss {
  margin-left: 10px;
}
/* портфолио */

.button-portfolio {
  display: inline-block;
  border: 2px solid transparent;
  border-radius: 2px;
  padding: 6px 22px;
  min-width: 73px;
  color: black;
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-decoration: none;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 94px;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container-link :hover,
.container-link :focus {
  color: #ffffff;
  background-color: var(--colore-focus);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 3px 1px rgba(0, 0, 0, 0.1);
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  margin-bottom: 94px;
}

.portfolio .link {
  list-style: none;
  text-decoration: none;
}

.link-header {
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  margin: 0;
  padding: 0;
  margin: 20px 24px 0px 24px;
}

.link-text {
  color: #757575;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  margin: 4px 24px 20px 24px;
  padding: 0;
}

.container-link {
  text-align: center;
}

.portfolio li:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}
.portfolio li:not(:nth-child(3n)) {
  margin-right: 30px;
}

.cart {
  width: 370px;
  border: 1px solid #eeeeee;
  color: inherit;
  text-decoration: none;
}

.cart:focus,
.cart:hover {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
    0px 1px 1px rgba(0, 0, 0, 0.12);
}

.cart-thumb {
  position: relative;
  overflow: hidden;
}

.cart-description {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;

  opacity: 0;

  padding: 63px 24px;
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cart:hover .cart-description,
.cart:hover .cart-thumb::before {
  transform: translateY(0);
  opacity: 1;
}

.cart:focus .cart-description,
.cart:focus .cart-thumb::before {
  transform: translateY(0);
  opacity: 1;
}

.cart-thumb::before {
  display: inline-block;
  content: '';

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* форма подвал */
.form-footer {
  margin-left: 94px;
}

.form-heading {
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin: 0;
  margin-bottom: 21px;
  text-transform: uppercase;
}

.footers-button {
}

.footer-button {
  display: flex;

  border-radius: 4px;
  padding: 11px 34px;
  min-width: 200px;
  height: 50px;
  color: white;
  background-color: var(--logo-span);
  border-color: var(--logo-span);
  font-weight: 500;
  font-size: 15px;
  line-height: 1.2;
  text-decoration: none;
  text-align: center;
  align-items: center;
  margin-left: 12px;
}

.footer-button::after {
  content: '';
  display: flex;
  width: 24px;
  height: 24px;
  margin-left: 10px;
  background-image: url(../image/send.svg);
}
.footers-button {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background: #2f303a;
  color: rgba(255, 255, 255, 0.6);
}

.na {
  display: flex;
}

/* форма зааказа */

.form-background {
  position: absolute;
  display: block;
  max-width: 1600px;
}
.form-field {
  position: relative;
  color: #afb1b8;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  transform: scale(1.08);
}
.backdrop {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
.form-hero {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background: #ffffff;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.form-head {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: black;
  margin: 0;
  margin: 40px 40px 30px 40px;
}

.form-comment {
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 448px;
  height: 120px;
  padding: 12px 16px;
  margin-bottom: 20px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-span {
  color: var(--colore-focus);
}
.send-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  padding-left: 56px;
  padding-right: 55px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  outline: none;
  color: #ffffff;
  background-color: var(--colore-focus);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}
.clouse-button {
  position: absolute;
  top: -2%;
  right: -2%;
  width: 30px;
  height: 30px;
  background-image: url(../image/close.svg);
  background-position: center;
  border-radius: 50%;
  padding: 0;
  border-radius: 50%;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border: none;
}
.icon {
  position: absolute;
  top: 10px;
  left: 60px;
  margin-right: 8px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-label {
  position: absolute;
  top: 13px;
  left: 82px;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.01em;
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    top 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input {
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding: 12px;
  border-radius: 4px;
  font-size: 16px;
  outline: none;
  margin: 0px 40px 30px 40px;
  padding-left: 42px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus,
.form-input:hover,
.form-comment:focus,
.form-comment:hover,
.form-label:focus,
.form-label:hover {
  border: 1px solid var(--colore-focus);
  outline: none;
}

.form-input:focus + .form-label,
.form-input:not(:placeholder-shown) + .form-label {
  color: var(--colore-focus);
  top: -20px;
}

.form-input:focus ~ .icon {
  fill: var(--colore-focus);
}

.checkbox {
  -webkit-appearance: none;
  appearance: none;
  position: absolute;
}

.checkbox-icon {
  content: '';
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 2px solid black;
  border-radius: 4px;
}
.checkbox:checked + .checkbox-icon {
  border-color: var(--logo-span);
  background-color: var(--logo-span);
  background-image: url(../image/check.svg);
  background-size: contain;
  background-origin: border-box;
}

.checkbox-label {
  display: block;
}
