$logo-color: #212121;
$logo-span: #2196f3;
$colore-heading: #212121;
$colore-text: #757575;
$colore-backgraund: #e5e5e5;
$colore-focus: #2196f3;
$colore-auth-nav: #757575;
$color-border-header: #ececec;
$font: Roboto, cursive;
$font-logo: Raleway, cursive;
$color-hero-text: #ffff;
$color-button: #2196f3;
